h1, h2{
  color: White;
  margin: 0 auto;
  
  font-family: 'Tangerine', serif;
  font-size: 75px;
  text-shadow: 4px 4px 4px #aaa;
  
  display: flex;
  align-items:center;
  justify-content:center;  
}


div {
  text-align: center;

}
body {
  background:url(https://media.giphy.com/media/mjORAqVKYtW7e/giphy.gif);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

input {
  margin-top: 50px;
  align-items:center;
  justify-content:center; 
}

input[type="text"]{
  height:40px;
  width:600px;
  background:url(https://media1.giphy.com/media/HRHLww0g5LVhC/giphy.gif);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  font-family: 'Tangerine', serif;
  font-size: 20px;
  text-shadow: 4px 4px 4px #aaa;
  color:white;
}

::placeholder {
  text-align: center;
  color: white;
  font-family: 'Tangerine', serif;
  font-size: 20px;
  text-shadow: 4px 4px 4px #aaa;
}

button {
  margin-top: 35px;
  margin-bottom: 50px; 
  font-family: 'Tangerine', serif;
  font-size: 20px;
  text-shadow: 4px 4px 4px #aaa;
}
